<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Hello, world!</title>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">ViewHD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hotview">Hot View</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/asia">Asia</a></li>
            <li><a class="dropdown-item" href="/euro">Euro</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/america">American</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="h-service">
  <div class="container">
    <h2 class="h-title v2">Dịch vụ của chúng tôi</h2>
    <div class="row row-ibl xs-pad-5">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a class="service smooth" href="https://www.anhdulich.vn/blogs/dich-vu-cua-chung-toi/in-nhiet-len-giay-anh-chat-luong-cao" title="">
          <div class="icon">
            <img src="./anhdulich.vn_files/picture-icon-png-23.jpg" alt="" title="">
          </div>
          <h3 class="name">In nhiệt lên giấy ảnh chất lượng cao</h3>
          <span>In lên giấy bằng công nghệ in nhiệt của Dai Nippon Printing Nhật Bản</span>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a class="service smooth" href="https://www.anhdulich.vn/blogs/dich-vu-cua-chung-toi/in-anh-tren-da-tu-nhien" title="">
          <div class="icon">
            <img src="./anhdulich.vn_files/landslide.png" alt="" title="">
          </div>
          <h3 class="name">In ảnh trên đá tự nhiên</h3>
          <span>In ảnh lên đá tự nhiên bằng công nghệ in chuyển nhiệt,</span>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a class="service smooth" href="https://www.anhdulich.vn/blogs/dich-vu-cua-chung-toi/in-anh-tren-ly-su" title="">
          <div class="icon">
            <img src="./anhdulich.vn_files/ic-3.png" alt="" title="">
          </div>
          <h3 class="name">In ảnh trên ly sứ</h3>
          <span>In ảnh lên ly sứ bằng công nghệ in chuyển nhiệt</span>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a class="service smooth" href="https://www.anhdulich.vn/blogs/dich-vu-cua-chung-toi/in-anh-tren-dia" title="">
          <div class="icon">
            <img src="./anhdulich.vn_files/ic-4.png" alt="" title="">
          </div>
          <h3 class="name">In ảnh trên đĩa</h3>
          <span>In ảnh lên đĩa sứ, đĩa nhựa bằng công nghệ in chuyển nhiệt</span>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a class="service smooth" href="https://www.anhdulich.vn/blogs/dich-vu-cua-chung-toi/in-tren-go-va-pha-le" title="">
          <div class="icon">
            <img src="./anhdulich.vn_files/ic-5.png" alt="" title="">
          </div>
          <h3 class="name">In trên gỗ và pha lê</h3>
          <span>In ảnh lên gỗ, pha lê bằng công nghệ in chuyển nhiệt cho hình ảnh độc đáo</span>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a class="service smooth" href="https://www.anhdulich.vn/blogs/dich-vu-cua-chung-toi/chup-hinh-su-kien-cuoi" title="">
          <div class="icon">
            <img src="./anhdulich.vn_files/ic-6.png" alt="" title="">
          </div>
          <h3 class="name">Chụp hình sự kiện cưới</h3>
          <span>Chúng tôi cung cấp dịch vụ chụp hình sự kiện, tiệc cưới với công nghệ hiện đại. Hình sẽ có ngay trong vòng 30s giúp khách có những trải nghiệm tuyệt vời khi....</span>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a class="service smooth" href="https://www.anhdulich.vn/blogs/dich-vu-cua-chung-toi/chup-anh-tu-dong" title="">
          <div class="icon">
            <img src="./anhdulich.vn_files/ic-7.png" alt="" title="">
          </div>
          <h3 class="name">Chụp ảnh tự động</h3>
          <span>Máy chụp ảnh sẽ được cài đặt sẵn trên các trò chơi để chụp lại những khoảnh khắc đặc biệt nhất của quý khách</span>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a class="service smooth" href="https://www.anhdulich.vn/blogs/dich-vu-cua-chung-toi/quay-clip-ngoai-canh" title="">
          <div class="icon">
            <img src="./anhdulich.vn_files/ic-8.png" alt="" title="">
          </div>
          <h3 class="name">Quay clip ngoại cảnh</h3>
          <span>Chúng tôi cung cấp gói dịch dụ quay clip ngoại cảnh cho khách hàng khi đến du lịch tại các địa điểm mà anhdulich.vn cung cấp dịch vu với giá cả phải chăng vớ...</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="h-project">
  <div class="container">
    <h2 class="h-title">Hình ảnh</h2>
    <div class="row xs-pad-5">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="project cnv-img-3x2" href="https://www.anhdulich.vn/gallery/phu-quoc-harbour-city-9" title="">
          <img style="width:auto;max-height: 100%" src="./anhdulich.vn_files/phu-quoc-island-in-vietnam-617776673-copy.jpg" alt="" title="">
          <div class="ct">
            <div class="table">
              <h3 class="cell title">PHU QUOC HARBOUR CITY 9</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="project cnv-img-3x2" href="https://www.anhdulich.vn/gallery/nha-trang-viet-nam" title="">
          <img style="width:auto;max-height: 100%" src="./anhdulich.vn_files/hinh-anh-nha-trang-ve-dem-085939001.jpg" alt="" title="">
          <div class="ct">
            <div class="table">
              <h3 class="cell title">Nha Trang Viet Nam</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="project cnv-img-3x2" href="https://www.anhdulich.vn/gallery/hue-viet-nam" title="">
          <img style="width:auto;max-height: 100%" src="./anhdulich.vn_files/cau-truong-tien.jpg" alt="" title="">
          <div class="ct">
            <div class="table">
              <h3 class="cell title">Hue Viet Nam</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="project cnv-img-3x2" href="https://www.anhdulich.vn/gallery/da-nang-viet-nam" title="">
          <img style="width:auto;max-height: 100%" src="./anhdulich.vn_files/cau-rong-da-nang.jpg" alt="" title="">
          <div class="ct">
            <div class="table">
              <h3 class="cell title">Da Nang Viet Nam</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="project cnv-img-3x2" href="https://www.anhdulich.vn/gallery/phu-quoc-harbour-city-5" title="">
          <img style="width:auto;max-height: 100%" src="./anhdulich.vn_files/bai-dai-phu-quoc-copy.jpg" alt="" title="">
          <div class="ct">
            <div class="table">
              <h3 class="cell title">PHU QUOC HARBOUR CITY 5</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="project cnv-img-3x2" href="https://www.anhdulich.vn/gallery/phu-quoc-harbour-city-4" title="">
          <img style="width:auto;max-height: 100%" src="./anhdulich.vn_files/du-lich-phu-quoc-copy.jpg" alt="" title="">
          <div class="ct">
            <div class="table">
              <h3 class="cell title">PHU QUOC HARBOUR CITY 4</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="project cnv-img-3x2" href="https://www.anhdulich.vn/gallery/phu-quoc-harbour-city-3" title="">
          <img style="width:auto;max-height: 100%" src="./anhdulich.vn_files/22-1-2-copy.jpg" alt="" title="">
          <div class="ct">
            <div class="table">
              <h3 class="cell title">PHU QUOC HARBOUR CITY 3</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <a class="project cnv-img-3x2" href="https://www.anhdulich.vn/gallery/phu-quoc-harbour-city-2" title="">
          <img style="width:auto;max-height: 100%" src="./anhdulich.vn_files/shutterstock-795378265-phu-quoc-copy.jpg" alt="" title="">
          <div class="ct">
            <div class="table">
              <h3 class="cell title">PHU QUOC HARBOUR CITY 2</h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="h-posts">
  <div class="container">
    <h2 class="h-title">Tin tức</h2>
    <div class="row">
      <div class="col-md-6">
        <a class="big-post" href="https://www.anhdulich.vn/blogs/tin-tuc/gioi-thieu-sun-world-fansipan-legend" title="">
          <div class="img hv-scale hv-over cnv-img-16x9">
            <img src="./anhdulich.vn_files/kimsonbaothangtu.jpg" alt="" title="">
          </div>
          <div class="ct">
            <h3 class="title">GIỚI THIỆU SUN WORLD FANSIPAN LEGEND</h3>
            <span>Sun World Fansipan Legend nằm tại phía Tây Nam thị xã Sa Pa, là quần thể công trình du lịch văn hóa, dịch vụ cáp treo, vui chơi giải trí và khách sạn nghỉ dư...</span>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <div class="h-post clearfix">
          <a class="img hv-scale hv-over cnv-img-16x9 list-item" href="https://www.anhdulich.vn/blogs/tin-tuc/sun-world-halong-complex-giai-tri-dinh-cao-dang-trao-hung-khoi-qua-da-chang-muon-ve" title="">
            <img src="./anhdulich.vn_files/dsc07073.jpg" alt="" title="">
          </a>
          <div class="ct">
            <h3 class="title"><a class="smooth" href="https://www.anhdulich.vn/blogs/tin-tuc/sun-world-halong-complex-giai-tri-dinh-cao-dang-trao-hung-khoi-qua-da-chang-muon-ve" title="">Sun World Halong Complex – Giải trí đỉnh cao, dâng trào hứng khởi, quá đã chẳng muốn về!</a></h3>
            <p>Trải rộng trên diện tích 214ha, Sun World Halong Complex là tổ hợp công viên vui chơi giải trí mang đẳng cấp quốc tế bao gồm...</p>
            <a class="smooth more" href="https://www.anhdulich.vn/blogs/tin-tuc/sun-world-halong-complex-giai-tri-dinh-cao-dang-trao-hung-khoi-qua-da-chang-muon-ve" title="">Xem thêm</a>
          </div>
        </div>
        <div class="h-post clearfix">
          <a class="img hv-scale hv-over cnv-img-16x9 list-item" href="https://www.anhdulich.vn/blogs/tin-tuc/kham-pha-xu-so-hanh-phuc-tai-vinpearl-safari-phu-quoc-noi-hang-loat-sao-ran-ran-check-in" title="">
            <img src="./anhdulich.vn_files/5-7.jpg" alt="" title="">
          </a>
          <div class="ct">
            <h3 class="title"><a class="smooth" href="https://www.anhdulich.vn/blogs/tin-tuc/kham-pha-xu-so-hanh-phuc-tai-vinpearl-safari-phu-quoc-noi-hang-loat-sao-ran-ran-check-in" title="">Khám phá xứ sở hạnh phúc tại Vinpearl Safari Phú Quốc – Nơi hàng loạt sao rần rần check-in</a></h3>
            <p>Trải dài trên diện tích rộng lớn với hệ sinh thái trù phú, Vinpearl Safari được biết đến là nơi cư ngụ của 3000 loài động vật...</p>
            <a class="smooth more" href="https://www.anhdulich.vn/blogs/tin-tuc/kham-pha-xu-so-hanh-phuc-tai-vinpearl-safari-phu-quoc-noi-hang-loat-sao-ran-ran-check-in" title="">Xem thêm</a>
          </div>
        </div>
        <div class="h-post clearfix">
          <a class="img hv-scale hv-over cnv-img-16x9 list-item" href="https://www.anhdulich.vn/blogs/tin-tuc/giang-sinh-nhung-tieng-chuong-dieu-ky" title="">
            <img src="./anhdulich.vn_files/cover-851x315.jpg" alt="" title="">
          </a>
          <div class="ct">
            <h3 class="title"><a class="smooth" href="https://www.anhdulich.vn/blogs/tin-tuc/giang-sinh-nhung-tieng-chuong-dieu-ky" title="">GIÁNG SINH: NHỮNG TIẾNG CHUÔNG DIỆU KỲ</a></h3>
            <p>Đà Nẵng đã sẵn sàng đón bạn trở lại trong không khí Giáng sinh ấm áp rực rỡ sắc màu cùng rất nhiều hoạt động hấp dẫn tại Sun...</p>
            <a class="smooth more" href="https://www.anhdulich.vn/blogs/tin-tuc/giang-sinh-nhung-tieng-chuong-dieu-ky" title="">Xem thêm</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>